****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [1]:
import pandas as pd
import numpy as np
import json
from pandas.io.json import json_normalize

****
## 1. Find the 10 countries with the most projects

In [2]:
# Turn the JSON file into a dataframe and assign it to the variable json_df.  
json_df=pd.read_json( 'data/world_bank_projects.json')

# Next, extract the countries code column from json_df.  
country = json_df['countryname']

# Count the number of times certain contries come up with value_counts().  
country_count=country.value_counts()

# Call the top 10 countries
country_count.head(10)

People's Republic of China         19
Republic of Indonesia              19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
Kingdom of Morocco                 12
Nepal                              12
People's Republic of Bangladesh    12
Africa                             11
Republic of Mozambique             11
Name: countryname, dtype: int64

****
## 2. Find the top 10 major project themes (using column 'mjtheme_namecode')

In [3]:
# Store the mjtheme_namecode column in a variable: ptheme.  
ptheme = json_df.mjtheme_namecode

# Create an empty list: themes
themes=[]

# Since each item of the mjtheme_namecode is a dictionary with
#two (key : value) pairs, I created a for loop to pull out each individual pair.  
for item in ptheme:
    for dict_item in item:
        themes.append(dict_item)

# Turn the list into a panda Series
themes_S=pd.Series(themes)

# Count the values for each item in the list and retrieve the top 10.  
themes_S.value_counts().head(10)

{'code': '11', 'name': 'Environment and natural resources management'}    223
{'code': '10', 'name': 'Rural development'}                               202
{'code': '8', 'name': 'Human development'}                                197
{'code': '2', 'name': 'Public sector governance'}                         184
{'code': '6', 'name': 'Social protection and risk management'}            158
{'code': '4', 'name': 'Financial and private sector development'}         130
{'code': '7', 'name': 'Social dev/gender/inclusion'}                      119
{'code': '5', 'name': 'Trade and integration'}                             72
{'code': '9', 'name': 'Urban development'}                                 47
{'code': '1', 'name': 'Economic management'}                               33
dtype: int64

****
## 3. Create a dataframe with the missing names filled in.

In [4]:
# Turn list (themes) into a dataframe with from_dict() method
tdf = pd.DataFrame.from_dict(themes)

# Sort the values by code and name to group the missing values together
tdf = tdf.sort_values(['code', 'name'])

# Turn the missing values of empty strings into NAN
tdf.name[tdf.name==''] = np.nan

# Backfill the values to ensure name correctly fills matching code
tdf.name = tdf.name.fillna(method='bfill')

# Sort by index back to original form
tdf.sort_index().head(11)

   code                                          name
0     8                             Human development
1    11  Environment and natural resources management
2     1                           Economic management
3     6         Social protection and risk management
4     5                         Trade and integration
5     2                      Public sector governance
6    11  Environment and natural resources management
7     6         Social protection and risk management
8     7                   Social dev/gender/inclusion
9     7                   Social dev/gender/inclusion
10    5                         Trade and integration